*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text-color:#6c757d;
    --link-color:#4a76ee;
    --background-color:white;
}
html{
    scroll-behavior: smooth;  /* whenever we click on any link our page is going to scroll very very smoothlyi*/}
body{
    font-family:sans-serif;
    background-color: var(--background-color);
    max-width: 1400px; 
    margin: 0 auto;
 }
a {
    color: var(--link-color);
    text-decoration: none;

}
/* nav bar 2 div bnaye hai nav mein unhe left right shift krna hai isiliye flex use kiye hai */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
   
}
nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}
nav .right a{
    color:var(--text-color);
     margin: 0 14px;
 
}
nav .right a:last-child{
    background-color: #000000;
   border-radius: 8px ;
    color: white;
    padding: 7px;
}
nav .right a:hover{
    background-color: #000000;
    border-radius: 8px ;
    color: white;
    padding:7px;
}
/*  to create the gap between the icon and the text */
nav .right a span{
    margin-left: 5px;
}

/* first is a class of section */
 .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0px 50px;
    margin: 50px 0px;
}
.first .intro{
    flex: 5;
}
.first .photo {
    flex:2;
    display: flex;
    justify-content: right;

}
.first .photo img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    /* margin: 10px; */
    padding: 4px;
}
.first.intro.h1{
    font-size: 45px;;
    padding: 3px;
}

.first .intro .links a {
     border: 2px solid var(--link-color);
     margin-right: 12px;
     margin-bottom: 10px;;
     display: inline-block;
     border-radius: 5px;
     padding: 5px 10px;
     transition: 1s;

}
.first .intro .links{
    margin-top: 25px;
}
.first .intro .links a:hover{
    border: 2px solid var(--text-color);
    color:var(--text-color);
}


/* to make the site responsive hm kya krege kijb width 6oopx tk aa jye to padding km krege or sirf icon show ho text nahi */
@media (max-width:850px)
{
        /* first section */
    .first .intro h1{
        font-size: 35px;
    }
}
@media (max-width:740px)
{
   .first{
    flex-direction: column-reverse;
   }
   .first .photo img{
    width: 200px;
    height: 200px;

   }
}
@media (max-width:600px){
    /* navbar */
    nav{
        padding: 0 20px;
    }
    nav .right a{
        font-size: 22px;;
    }
    nav .right a span{
        display: none;
    }
    nav .right a:last-child{
    background-color: #000000;
    border-radius: 8px ;
    color: var(--text-color);
    padding: 7px;
    }
    /* 
    section first */
    .first{
        padding: 0 20px;
    }
    .first .intro h1{
     font-size: 20px;
    }
}

/* section2 skills */
#skills{
    padding: 0px 50px;
    margin-bottom: 100px;

}
#skills h2{
    text-align: center;
    font-size: 35px;
    
}
#skills .text{
     text-align: center;
     margin-bottom: 20px;

}
 #skills .cells{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 15px;
    border: 1.25px solid #d3d3d3;
     border-radius: 4px;
     margin: 10px;
     gap: 10px;

    
}
.cells .cell span{
    font-size:18px ;
}
.cells .cell img{
    height: 30px;
    width: 30px;
    object-fit: cover;  /* so that the photo does not stretched */
    border-radius: 2px;
    margin: 3px;
}

@media (max-width:600px){
    #skills{
        padding: 0px 20px;
    }
    #skills h2{
        font-size: 20px;

    }
    .cells .cell span{
    font-size:16px ;
}
/* section3 testimony */
}
#Testimony{
    padding: 0 50px;
    margin-bottom: 100px;

}
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0px 50px;
    margin: 10px 10px;
}
.person-detail img{
    height: 200px;
    width: 200px;
    /* aspect-ratio: 1/1; */
    border-radius: 50%;
    object-fit: cover;
}
#testimony h2{
    font-size: 35px;
}
#Testimony .group .person-detail h4,p{
    margin-bottom: 4px;
}
#Testimony .group .person-detail {
    text-align: center;
        flex: 2;
}
#Testimony .group .sample-text{
    flex:8;
}
.sample-text{
    margin: 50px;
   padding: 2px;

}
/* Section 4 contact */
#contact{
    padding: 0 50px;
    margin-bottom: 100px;
}
#contact h2{
    font-size: 35px;

}
.box{
    display: flex;
    gap: 50px;   
}
.box .text{
    flex: 3;
}
.box form input, .box form textarea{
    font-family: sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}
.box  form button{
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    background-color: var(--link-color);
    border: none;
    padding: 3px;
    height: 50px;
    cursor: pointer;
    transition: 1s;

}
.box  form button:hover{
    /* /* color: #000000;
    background-color: #fff; 
    border: 2px solid black; */
    filter: brightness(0.9);
}
.box form{
    flex: 3;
    display: flex;
    flex-direction: column;

}
@media (max-width:740px){
    #Testimony{
       text-align: center;
       padding: 0 20px;

    }
    #Testimony .group{
        flex-direction: column;
         gap: 20px;
    padding: 0px 20px;
    margin: 10px 10px;
    }
    /* section 4 */
    #contact{
        padding :0 20px;
    }
    #contact .box{
        flex-direction: column;

    }
}